<div style="font-size:90%;float:right">
  <table class="table table-bordered">
    <thead class="bg-info text-light text-center" style="font-size:initial">
      <tr>
        <th colspan="2">{{ include.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><img src="/img/carter-1.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="Carter"></td>
      </tr>
      <tr>
      </tr>
      <tr class="bg-info text-light text-center">
        <th colspan="2">Biographical Information</th>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Born</td>
        <td>{{ include.fullname }}<br>{{ include.birthdate | date: "%e %B %Y" }} (age {{ include.age }})<br>{{ include.birthplace }}</td>
      </tr>
      {% if include.nationality %}
      <tr>
        <td class="align-middle font-weight-bold">Nationality</td>
        <td>{{ include.nationality }}</td>
      </tr>
      {% endif %}
      {% if include.residence %}
      <tr>
        <td class="align-middle font-weight-bold">Residence</td>
        <td>{{ include.residence}}</td>
      </tr>
      {% endif %}
      {% if include.height %}
      <tr>
        <td class="align-middle font-weight-bold">Height</td>
        <td>{{ include.height }}</td>
      </tr>
      {% endif %}
      {% if include.occupation %}
      <tr>
        <td class="align-middle font-weight-bold">Occupation</td>
        <td>{{ include.occupation }}</td>
      </tr>
      {% endif %}
      {% if include.yearsactive %}
      <tr>
        <td class="align-middle font-weight-bold">Years active</td>
        <td>{{ include.yearsactive }}</td>
      </tr>
      {% endif %}
      {% if include.partners %}
      <tr>
        <td class="align-middle font-weight-bold">Partner(s)</td>
        <td>{{ include.partners }}
          {% assign partners = "{{ include.partners }}" | split: ', ' %}
          {% for i in partners %}
            {% assign partners[i].info = "{{ i }}" | split: '/' %}
            <a href="/{{ include.partners[i].info[0] | slugify}}">{{ include.partners[i].info[0] }}</a> {{ include.partners[i].info[1] }}
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if include.children %}
      <tr>
        <td class="align-middle font-weight-bold">Children</td>
        <td>1, <a href="/maddox">Maddox Harrison</a></td>
      </tr>
      {% endif %}
      <tr class="bg-info text-light text-center">
        <th colspan="2">Musical Career</th>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Genres</td>
        <td>Pop &middot; rock</td>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Instruments</td>
        <td>Vocals</td>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Associated acts</td>
        <td><a href="poa">Pocket of Authority</a></td>
      </tr>
    </tbody>
  </table>
</div>
