<div style="font-size:90%;float:right">
  <table class="table table-bordered">
    <thead class="bg-info text-light text-center" style="font-size:initial">
      <tr>
        <th colspan="2">{{ include.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><img src="/img/carter-1.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="Carter"></td>
      </tr>
      <tr>
      </tr>
      <tr class="bg-info text-light text-center">
        <th colspan="2">Biographical Information</th>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Born</td>
        <td>{{ include.fullname }}<br>{{ include.birthdate | date: "%e %B %Y" }} (age {{ include.age }})<br>{{ include.birthplace }}</td>
      </tr>
      {% if include.nationality %}
      <tr>
        <td class="align-middle font-weight-bold">Nationality</td>
        <td>{{ include.nationality }}</td>
      </tr>
      {% endif %}
      {% if include.residence %}
      <tr>
        <td class="align-middle font-weight-bold">Residence</td>
        <td>{{ include.residence}}</td>
      </tr>
      {% endif %}
      {% if include.height %}
      <tr>
        <td class="align-middle font-weight-bold">Height</td>
        <td>{{ include.height }}</td>
      </tr>
      {% endif %}
      {% if include.occupation %}
      <tr>
        <td class="align-middle font-weight-bold">Occupation</td>
        <td>{{ include.occupation }}</td>
      </tr>
      {% endif %}
      {% if include.yearsactive %}
      <tr>
        <td class="align-middle font-weight-bold">Years active</td>
        <td>{{ include.yearsactive }}</td>
      </tr>
      {% endif %}
      {% if include.partners %}
      {% capture partnerlist %}
      {{ include.partners }}
      {% endcapture %}
      <tr>
        <td class="align-middle font-weight-bold">Partner(s)</td>
        <td>
          {% assign partners = partnerlist | split: ', ' %}
          {{ partners }}
          {% for i in partners %}
            {% capture partnerinfo %}
            {{ i }}
            {% endcapture %}
            {% assign partners[i].info = partnerinfo | split: '/' %}
            {% increment counter %}
            <a href="/{{ partners[{{ counter }}].info[0] | slugify }}">{{ partners[{{ counter }}].info[0] }}</a> {{ include.partners[{{ counter }}].info[1] }}
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% if include.children %}
      <tr>
        <td class="align-middle font-weight-bold">Children</td>
        <td>1, <a href="/maddox">Maddox Harrison</a></td>
      </tr>
      {% endif %}
      {% if include.genres %}
      <tr class="bg-info text-light text-center">
        <th colspan="2">Musical Career</th>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Genres</td>
        {% assign genres = include.genres | split: ', ' %}
        <td>{{ genres | join: "&middot; "}}</td>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Instruments</td>
        {% assign instruments = include.instruments | split: ', ' %}
        <td>{{ instruments | join: "&middot; "}}</td>
      </tr>
      <tr>
        <td class="align-middle font-weight-bold">Associated acts</td>
        {% assign acts = include.acts | split: ', ' %}
        <td>
        {% for act in acts %}
          <a href="/{{ act | slugify }}">{{ act }}</a>{% unless forloop.last %}<br>{% endunless %}
        {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
