---
layout: default
birthname: "Carter James Harrison"
birthdate: 5/11/1987
birthplace: "Baltimore, Maryland"
---
{% include year.html year=2003 firstname="Carter" middlename="James" lastname="Harrison" img="carter-2" nationality="American" residence="Baltimore, Maryland" height="6 ft 2 in (1.89 m)" occupation="Student, unemployed" family="Thomas Harrison/(father), Lizzie Harrison/(mother), Ashley Harrison/(younger sister), Daniel Harrison/(younger brother), Olivia Harrison/(younger sister), Lilly Harrison/(younger sister)" relations="Matthew Everett/(best friend; deceased)" partners="Rachel Barns/(2003-present)" bio="n American from Baltimore, Maryland." %}

{% include year.html year=2012 firstname="Carter" middlename="James" lastname="Harrison" nickname="Philosopher" img="carter-1" nationality="American" residence="Baltimore, Maryland" height="6 ft 2 in (1.89 m)" occupation="Singer, songwriter" yearsactive="2008-present" partners="Jon Harthford/(2006-present), Rachel Barns/(2003-2006)" children="Maddox Harrison" genres="Pop, rock" instruments="Vocals" acts="Pocket of Authority" bio="n American lead vocalist and songwriter from Baltimore, Maryland."%}
