---
layout: default
toc: true
---
<style>
.section-nav {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}
</style>
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm order-2 order-sm-1">
      <h1>{{ page.title }}</h1><hr>
      <b>{{ page.bio-name }}</b> (born {{ page.birthdate | date: "%e %B %Y" }}) {{ page.bio }}
      {{ content | toc_only }}
      {{ content }}
    </div>
    <div class="col-sm-4 order-1 order-sm-2" style="font-size:85%;">
      <table class="table table-bordered">
        <thead class="bg-info text-light text-center" style="font-size:initial">
          <tr>
            <th colspan="2">{{ page.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <img src="/img/{{ page.img }}.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="{{ title }}">
            </td>
          </tr>
          <tr class="bg-info text-light text-center">
            <th colspan="2">Biographical Information</th>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Born</td>
            {% capture ageyear %}{{ page.birthdate | date: "%Y" }}{% endcapture %}
            <td class="col-1">{{ page.birthname }}<br>{{ page.birthdate | date: "%e %B %Y" }} (age {{ 2013 | minus: ageyear }})<br>{{ page.birthplace }}</td>
          </tr>
          {% if page.nationality %}
          <tr>
            <td class="align-middle font-weight-bold">Nationality</td>
            <td>{{ page.nationality }}</td>
          </tr>
          {% endif %}
          {% if page.residence %}
          <tr>
            <td class="align-middle font-weight-bold">Residence</td>
            <td>{{ page.residence}}</td>
          </tr>
          {% endif %}
          {% if page.height %}
          <tr>
            <td class="align-middle font-weight-bold">Height</td>
            <td>{{ page.height }}</td>
          </tr>
          {% endif %}
          {% if page.family %}
            <tr>
              <td class="align-middle font-weight-bold">Family and relatives</td>
              <td>
                {% assign family = page.family | split: ', ' %}
                {% for relative in family %}
                  {% assign relativeinfo = relative | split: '/' %}
                  <a href="/wiki/{{ relativeinfo[0] | slugify }}">{{ relativeinfo[0] }}</a> <small>{{ relativeinfo[1] }}</small>{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.relations %}
            <tr>
              <td class="align-middle font-weight-bold">Other relations</td>
              <td>
                {% assign relations = page.relations | split: ', ' %}
                {% for person in relations %}
                  {% assign personinfo = person | split: '/' %}
                  <a href="/wiki/{{ personinfo[0] | slugify }}">{{ personinfo[0] }}</a> <small>{{ personinfo[1] }}</small>{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.occupation %}
          <tr>
            <td class="align-middle font-weight-bold">Occupation</td>
            <td>{{ page.occupation }}</td>
          </tr>
          {% endif %}
          {% if page.yearsactive %}
          <tr>
            <td class="align-middle font-weight-bold">Years active</td>
            <td>{{ page.yearsactive }}</td>
          </tr>
          {% endif %}
          {% if page.spouses %}
            <tr>
              <td class="align-middle font-weight-bold">Spouse(s)</td>
              <td>
                {% assign spouses = page.spouses | split: ', ' %}
                {% for spouse in spouses %}
                  {% assign spouseinfo = spouse | split: '/' %}
                  <a href="/wiki/{{ spouseinfo[0] | slugify }}">{{ spouseinfo[0] }}</a> (<abbr title="married">m.</abbr> {{ spouseinfo[1] }}){% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.partners %}
            <tr>
              <td class="align-middle font-weight-bold">Partner(s)</td>
              <td>
                {% assign partners = page.partners | split: ', ' %}
                {% for partner in partners %}
                  {% assign partnerinfo = partner | split: '/' %}
                  <a href="/wiki/{{ partnerinfo[0] | slugify }}">{{ partnerinfo[0] }}</a> {{ partnerinfo[1] }}{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.children %}
            <tr>
              <td class="align-middle font-weight-bold">Children</td>
              <td>
                {% assign children = page.children | split: ', ' %}
                {% for child in children %}
                  {% assign childinfo = child | split: '/' %}
                  <a href="/wiki/{{ childinfo[0] | slugify }}">{{ childinfo[0] }}</a> {{ childinfo[1] }}{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.genres %}
          <tr class="bg-info text-light text-center">
            <th colspan="2">Musical Career</th>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Genres</td>
            {% assign genres = page.genres | split: ', ' %}
            <td>{{ genres | join: " &middot; "}}</td>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Instruments</td>
            {% assign instruments = page.instruments | split: ', ' %}
            <td>{{ instruments | join: " &middot; "}}</td>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Associated acts</td>
            {% assign acts = page.acts | split: ', ' %}
            <td>
            {% for act in acts %}
              <a href="/wiki/{{ act | slugify }}">{{ act }}</a>{% unless forloop.last %}<br>{% endunless %}
            {% endfor %}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
  </div>
