---
layout: default
---
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm order-2 order-sm-1">
    <h1>{{ title }}
    {{ content }}
    </div>
    <div class="col-sm-4 order-1 order-sm-2" style="font-size:90%;">
      <table class="table table-bordered">
        <thead class="bg-info text-light text-center" style="font-size:initial">
          <tr>
            <th colspan="2">{{ page.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <img src="/img/{{ page.img }}.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="{{ title }}">
            </td>
          </tr>
          <tr class="bg-info text-light text-center">
            <th colspan="2">Biographical Information</th>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Born</td>
            {% capture ageyear %}{{ page.birthdate | date: "%Y" }}{% endcapture %}
            <td>{{ page.birthname }}<br>{{ page.birthdate | date: "%e %B %Y" }} (age {{ 2013 | minus: ageyear }})<br>{{ page.birthplace }}</td>
          </tr>
          {% if page.nationality %}
          <tr>
            <td class="align-middle font-weight-bold">Nationality</td>
            <td>{{ page.nationality }}</td>
          </tr>
          {% endif %}
          {% if page.residence %}
          <tr>
            <td class="align-middle font-weight-bold">Residence</td>
            <td>{{ page.residence}}</td>
          </tr>
          {% endif %}
          {% if page.height %}
          <tr>
            <td class="align-middle font-weight-bold">Height</td>
            <td>{{ page.height }}</td>
          </tr>
          {% endif %}
          {% if page.family %}
            <tr>
              <td class="align-middle font-weight-bold">Family and relatives</td>
              <td>
                {% assign family = page.family | split: ', ' %}
                {% for relative in family %}
                  {% capture relativeinfo %}{{ relative }}{% endcapture %}
                  {% assign info = relativeinfo | split: '/' %}
                  <a href="/{{ info[0] | slugify }}">{{ info[0] }}</a> <small>{{ info[1] }}</small>{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.relations %}
            <tr>
              <td class="align-middle font-weight-bold">Other relations</td>
              <td>
                {% assign relations = page.relations | split: ', ' %}
                {% for person in relations %}
                  {% capture personinfo %}{{ person }}{% endcapture %}
                  {% assign info = personinfo | split: '/' %}
                  <a href="/{{ info[0] | slugify }}">{{ info[0] }}</a> <small>{{ info[1] }}</small>{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.occupation %}
          <tr>
            <td class="align-middle font-weight-bold">Occupation</td>
            <td>{{ page.occupation }}</td>
          </tr>
          {% endif %}
          {% if page.yearsactive %}
          <tr>
            <td class="align-middle font-weight-bold">Years active</td>
            <td>{{ page.yearsactive }}</td>
          </tr>
          {% endif %}
          {% if page.spouses %}
            <tr>
              <td class="align-middle font-weight-bold">Spouse(s)</td>
              <td>
                {% assign spouses = page.spouses | split: ', ' %}
                {% for i in spouses %}
                  {% capture spouseinfo %}{{ i }}{% endcapture %}
                  {% assign info = spouseinfo | split: '/' %}
                  <a href="/{{ info[0] | slugify }}">{{ info[0] }}</a> {{ info[1] }}{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.partners %}
            <tr>
              <td class="align-middle font-weight-bold">Partner(s)</td>
              <td>
                {% assign partners = page.partners | split: ', ' %}
                {% for i in partners %}
                  {% capture partnerinfo %}{{ i }}{% endcapture %}
                  {% assign info = partnerinfo | split: '/' %}
                  <a href="/{{ info[0] | slugify }}">{{ info[0] }}</a> {{ info[1] }}{% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if page.children %}
            {% assign children = page.children | split: ', ' %}
          <tr>
            <td class="align-middle font-weight-bold">Children</td>
            <td>
              {% for child in children %}
                <a href="/{{ child | slugify }}">{{ child }}</a>{% unless forloop.last %}<br>{% endunless %}
              {% endfor %}
          </td>
          </tr>
          {% endif %}
          {% if page.genres %}
          <tr class="bg-info text-light text-center">
            <th colspan="2">Musical Career</th>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Genres</td>
            {% assign genres = page.genres | split: ', ' %}
            <td>{{ genres | join: " &middot; "}}</td>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Instruments</td>
            {% assign instruments = page.instruments | split: ', ' %}
            <td>{{ instruments | join: " &middot; "}}</td>
          </tr>
          <tr>
            <td class="align-middle font-weight-bold">Associated acts</td>
            {% assign acts = page.acts | split: ', ' %}
            <td>
            {% for act in acts %}
              <a href="/{{ act | slugify }}">{{ act }}</a>{% unless forloop.last %}<br>{% endunless %}
            {% endfor %}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
  </div>
